body{ 
    
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}
h1{
  text-shadow: 1px 1px 2px rgb(140, 134, 134), 0 0 1em blue, 0 0 0.2em darkblue;
}
.tops{
  margin: 20px;
  font-size: 20px;
}
.quest{
  margin: 40px;
}
.cred {
margin: 40px;
}
.bubbles img{
  width: 100px;
  animation: bubble 5s linear infinite;
  background: transparent;
}
.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -250px;
}

@keyframes bubble{
  0%{
      transform: translateY(0);
      opacity: 0;
  }
  50%{
     
      opacity: 1;
  }
  70%{
      
      opacity: 1;
  }
  100%{
      transform: translateY(-80vh);
      opacity: 0;
  }
}
.bubbles img:nth-child(1){
    width: 200px;
  animation-delay: 1s;
}
.bubbles img:nth-child(2){
 
  animation-delay: 2.4s;
}
.bubbles img:nth-child(3){
    width: 180px;
  animation-delay: 0.1s;
  bottom:-200;
}
.bubbles img:nth-child(4){
  animation-delay: 2.5s;
}


